btc-email-workflow.json
{
  "name": "btc-email-workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        64
      ],
      "id": "6494cefe-b0ac-4a11-b170-246302d220ba",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.coinbase.com/v2/prices/spot?currency=USD",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        192,
        64
      ],
      "id": "96168e2b-527a-412d-a480-e9392266b1b0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fromEmail": "bigbluemagic06@gmail.com",
        "toEmail": "senpraveen1999@gmail.com",
        "subject": "Requested dollar values",
        "emailFormat": "both",
        "text": "Hi there,\nThe data is in html format below,",
        "html": "=var data = [{ data : {\n {{ $json.data.amount }},{{ $json.data.base }},\n{{ $json.data.currency }} } }];",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        400,
        64
      ],
      "id": "323f3ebf-d06b-4619-a067-704949a9818e",
      "name": "Send an Email",
      "webhookId": "31cc1b12-d39a-4ae5-8067-a15644a75a51",
      "credentials": {
        "smtp": {
          "id": "oRTs4ysyS0nibLlM",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "307b84f1-bc3b-4847-a7f0-26f6009bdac7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37661b5e2cf2fcaf0d6cd59e9beb874391772afd9d50f5564820a06a8a8f05bf"
  },
  "id": "FjetiLWB61ZYFkDm",
  "tags": []
}