workflows/Daily Weather Email.json
{
  "name": "Daily Weather Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -240,
        -64
      ],
      "id": "7c5ba5e8-96b7-4963-8ad6-d71d8ca2b7e0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://wttr.in/Delhi?format=j1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -32,
        -64
      ],
      "id": "b6f014f0-2cfa-461e-a21f-cdc1e13d6897",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "534e4437-6bb2-494e-9771-c6aa45c2bee8",
              "name": "current_condition[0].FeelsLikeC",
              "value": 33,
              "type": "number"
            },
            {
              "id": "ee4b44ba-9c98-4682-8815-7fac4caba72a",
              "name": "current_condition[0].humidity",
              "value": 16,
              "type": "number"
            },
            {
              "id": "dba25939-2939-4677-b129-97b3b5cf6732",
              "name": "current_condition[0].weatherDesc[0]",
              "value": "Haze",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        -64
      ],
      "id": "ded69ad9-713f-4b46-91e8-9c805b700d90",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fromEmail": "bigbluemagic06@gmail.com",
        "toEmail": "senpraveen1999@gmail.com",
        "subject": "Weather Report",
        "emailFormat": "both",
        "text": "=Good  Morning 🌅 \n\nToday's Weather :\nTemperature : {{ $json['current_condition'][0]['FeelsLikeC'] + 'C' }}\nCondition: {{ $json['current_condition'][0]['weatherDesc'] }}\nHumidity: {{ $json['current_condition'][0]['humidity'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        384,
        -64
      ],
      "id": "5a81106e-be12-4854-8939-bdb2c5c9584d",
      "name": "Send an Email",
      "webhookId": "0cbeafa8-7763-4021-9792-7c5b245c080e",
      "credentials": {
        "smtp": {
          "id": "oRTs4ysyS0nibLlM",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0738c1c8-d9ab-4e09-9761-b768e26e9d37",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37661b5e2cf2fcaf0d6cd59e9beb874391772afd9d50f5564820a06a8a8f05bf"
  },
  "id": "fDBNkjZeu9jTrLrJ",
  "tags": []
}