workflows/RSS-New Feed Automation.json
{
  "name": "RSS-New Feed Automation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "74655dbf-2d3e-4f12-94fc-fc433c2a8ed7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://rss.nytimes.com/services/xml/rss/nyt/HomePage.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "12a19619-4b40-47a7-a553-70983e586fc3",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "00fc1dff-cc67-46a5-89e7-5475073b7113",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1f44804-ddc2-4e23-ab5f-e45ec9e7b92e",
              "name": "html",
              "value": "={{\n  \"<p><strong>\" + $json.title + \"</strong><br>\" +\n  \"<a href='\" + $json.link + \"'>Read more</a><br>\" +\n  \"<small>\" + new Date($json.pubDate).toLocaleDateString(\"en-IN\") + \"</small></p>\"\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "af6678a9-8735-4339-ba3c-22260404e4ca",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "837c8d1e-7f7d-4322-98c4-40da48549ced",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93975725-2e89-4388-9edf-c852e4925bd4",
              "name": "emailBody",
              "value": "={{ \"<h2>📰 Daily News Report</h2> \" + \"<div>\" + $json.html + \"</div>\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        0
      ],
      "id": "13f0d71e-3d47-4864-b925-72962a75cc1e",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fromEmail": "bigbluemagic06@gmail.com",
        "toEmail": "senpraveen1999@gmail.com",
        "subject": "=Daily News - {{ new Date().toLocaleDateString(\"en-IN\") }}",
        "html": "={{ $json.emailBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1248,
        0
      ],
      "id": "6d4c599c-22eb-4e83-ac06-a82cdf4c09fe",
      "name": "Send an Email",
      "webhookId": "b59efbe6-fc3b-4d65-a4f7-89a2946ac5d9",
      "credentials": {
        "smtp": {
          "id": "oRTs4ysyS0nibLlM",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ae84911c-b42d-4958-8b34-996dc9dbb3b4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37661b5e2cf2fcaf0d6cd59e9beb874391772afd9d50f5564820a06a8a8f05bf"
  },
  "id": "jcMcLEZJCNZEyl78",
  "tags": []
}