workflows/Webhook Form Handler.json
{
  "name": "Webhook Form Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "path",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "1cbf5cdc-6572-41bd-b414-95c26c6655e0",
      "name": "Webhook",
      "webhookId": "a231d415-e124-4ddc-95a8-93a0db7fa70e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0a3fd911-5212-42a5-8575-8518e148ea68",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "0d71ef04-969e-47a6-97cf-3770828810af",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "0f43ff00-4786-4e7c-ab30-f4549e922a94",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "Please provide an valid Email."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        416,
        96
      ],
      "id": "22059cbd-3faa-4d09-ab85-33aa7d37b50d",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "sheetsUi": {
          "sheetValues": [
            {
              "title": "={{ $json.body.name }}"
            },
            {
              "title": "={{ $json.body.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        -128
      ],
      "id": "499bfb6e-e28a-42d6-8da6-bc5d51d2ce9c",
      "name": "Create spreadsheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EeBwmDnsKy8oSinE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.sheets[1].properties.title }}",
        "subject": "Users testing ",
        "message": "=Hi, there this is {{ $json.sheets[0].properties.title }} and i am learnning n8n. if you want to do automation please emmail me at {{ $json.sheets[1].properties.title }}. \nThank You!!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        608,
        -128
      ],
      "id": "ac135bd2-1c44-4c72-b2c1-c9160e0c0ea8",
      "name": "Send a message",
      "webhookId": "ed8baf22-ce66-44d1-b928-69a28c9ce4a2",
      "credentials": {
        "gmailOAuth2": {
          "id": "lgfTUQWyD5rT7pgM",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create spreadsheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create spreadsheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1fb304dd-8661-4b1e-8764-d3e4922230ba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37661b5e2cf2fcaf0d6cd59e9beb874391772afd9d50f5564820a06a8a8f05bf"
  },
  "id": "dYUG0yY45s45HPKV",
  "tags": []
}